/* ==========================================================================
Content
========================================================================== */

.app-loading {
  display: none;
}

.main-container {
  @include media-breakpoint-up(lg) {
    position: relative;
    .sidebar {
      position: sticky;
      left: 0;
      top: 0;
      bottom: 0;
      width: 200px;
      margin-right: $grid-gutter-width;
      display: block;
      float: left;
      min-height: 100vh;
    }
    .main-content {
      margin-left: 240px;
    }
  }
}

.main-content {
  position: relative;
}

.section {
  margin-bottom: 50px;

  form {
    background-color: $color-theme-4;
    border-radius: 5px;

    .form-items {
      position: relative;
      margin: 15px 0;
      background: transparent;
      border: none;
      @include media-breakpoint-up(lg) {
        margin: 50px;
      }

      label {
        font-weight: 700;
        font-size: 17px;
      }

      input {
        border: none;
        outline: none;
      }
    }
  }

  .profile {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    .user {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      button {
        border-radius: 5px;
        border: none;
        line-height: 30px;
        background-color: $color-theme-4;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 70%;

        span {
          font-weight: 600;
        }

        img {
          width: 30px;
        }
      }

      img {
        max-width: 250px;
      }
    }
  }
}

.section-2 {
  form {
    .form-group {
      margin: 15px 0;
      @include media-breakpoint-up(lg) {
        margin: 50px;
      }

      .form-items {
        margin: 0;
        padding: 0;
      }
    }
  }

  .form-input {
    position: relative;
    padding-right: 0;
    padding-left: 0;

    img {
      position: absolute;
      width: 30px;
      top: 20%;
      right: 0;
    }
  }
}

.photo-uploads {
  display: flex;
  flex-wrap: wrap;
  padding: 30px;

  .photo-upload {
    position: relative;
    margin: auto;
    width: 60px;
    height: 60px;
    background-color: $color-theme-2;
    border: 2px solid $color-theme-3;

    span {
      margin: auto;
      color: $color-theme-3;
      font-size: 9px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.section-3 {
  .container {
    overflow: hidden;

    nav {
      margin-top: 50px;

      .pagination {
        li {
          a {
            color: $color-theme-2;
          }
        }
      }
    }

    #carouselExampleCaptions {
      .carousel-inner {
        .carousel-item {
          position: relative;

          &::after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-image: linear-gradient(
                            90deg,
                            rgba(0, 0, 0, 1) 0%,
                            rgb(43, 42, 42) 35%,
                            rgb(90, 90, 90) 100%
            );
            background-size: cover;
            opacity: 0.1;
          }
        }

        button {
          background-color: $color-theme-1;
        }
      }

      .carousel-indicators {
        counter-reset: section;

        button {
          text-indent: 0;
          background-color: transparent;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #000000;

          &:after {
            counter-increment: section;
            content: counter(section);
          }

          &.active {
            background-color: #000000;
            color: #fff;
          }
        }

        span {
          background-color: $color-theme-1;
        }
      }
    }
  }
}

.section-4 {
  .finish {
    font-size: 20px;

    &.finish-content-right {
      font-weight: 700;
    }

    p {
      margin: 50px;
    }
  }
}

.slick-dots {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex !important;
  justify-content: center;
  align-items: center;

  > li {
    margin: 0 5px;
  }

  button {
    background-color: transparent;
    border-width: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
  }

  .slick-active button {
    background-color: #000000;
    color: #fff;
  }
}